body {
  background-color: #f9f9f9;
  color: #222;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

main{
  background-color: #ffffff;
  border-radius: 6px;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;
}

header, footer {
  display: flex;
  justify-content: center;
}
header h1 {
  margin: 0;
}

h1, h2{
  line-height: 1.3;
}

h2 {
  margin-bottom: 0.5rem;
}

section, article{
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
  margin-top: 2rem;
}