body {
  font-family: system-ui. sans-serif;
  line-height: 1.6;
}

main{
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2{
  line-height: 1.3;
}

section, article{
  margin-top: 2rem;
}